{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>GNS WEB ADMIN </title>
  <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="CodedThemes">
  <meta name="keywords"
    content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="CodedThemes">
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <!-- Required Fremwork -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">

  <!-- themify-icons line icon -->
  <link rel="stylesheet" type="text/css" href="{% static 'icon/themify-icons/themify-icons.css'%}">
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="{% static 'icon/icofont/css/icofont.css'%}">
  <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css'%}">
</head>

<body>
  <!-- Pre-loader start -->
  <div class="theme-loader">
    <div class="ball-scale">
      <div class='contain'>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">

          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
        <div class="ring">
          <div class="frame"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

      <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">

          <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
              <i class="ti-menu"></i>
            </a>

            <a href="index.html">
              <p style="text-align: center;">GNS3 WEB ADMIN</p>
            </a>

          </div>

          <div class="navbar-container container-fluid">
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                </div>
              </li>

              <li>
                <a href="#!" onclick="javascript:toggleFullScreen()">
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">

              <li class="user-profile header-notification">
                <a href="#!">
                  <img src="{% static 'images/avatar-4.jpg'%}" class="img-radius" alt="User-Profile-Image">
                  <span>Admin</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a href="#!">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>
                  <li>
                    <a href="auth-normal-sign-in.html">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav class="pcoded-navbar">
            <div class="pcoded-inner-navbar main-menu">


              <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Devices</div>
              <ul class="pcoded-item pcoded-left-item">
                {% for category, items in categories.items %}
                {% if category == 'router' %}
                <li class="pcoded-hasmenu active">
                  <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img src="{% static 'images/router7.png'%}" width="100%" alt="">
                    </span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Routers</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    {% for item in items %}
                    <li class=" ">
                      <a href="/device/{{ project.project_id }}/createdevice/{{item.template_id}}">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">{{ item.name }}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>

                    {% endfor %}
                  </ul>
                </li>
                {% elif category == 'switch' %}
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img src="{% static 'images/switch.png'%}" width="100%" alt="">
                    </span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Switches</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    {% for item in items %}
                    <li class=" ">
                      <a href="/device/{{ project.project_id }}/createdevice/{{item.template_id}}">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">{{ item.name }}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% elif category == 'guest' %}
                <li class="pcoded-hasmenu">
                  <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img src="{% static 'images/endpc.png'%}" width="100%" alt="">
                    </span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">End devices
                    </span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    {% for item in items %}
                    <li class=" ">
                      <a href="/device/{{ project.project_id }}/createdevice/{{item.template_id}}">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">{{ item.name }}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              
            </div>
          </nav>
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <div class="main-body">
                <div class="page-wrapper">

                  <div class="page-body">
                    {% include 'messages.html' %}
                    <div class="row">
                      <!-- Statestics Start -->
                      <div class="col-md-12 col-xl-9">
                        <div class="card ">
                          <div class="card-header">
                            <h5>
                              Topology
                            </h5>
                          </div>
                          <div class="card-block">
                            <div id="network_drawing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-xl-3">
                        <div class="card fb-card">
                          <div class="card-header">
                            <div class="d-inline-block">
                              <h5>devices</h5>
                            </div>
                          </div>
                          <div class="card-block text-center">
                            <div id="" style="height:400px;">
                              <div class="table-responsive ">
                                <table class="table">

                                  <tbody>
                                    {% if nodes_list %}
                                    {% for node in nodes_list %}
                                    <tr style="{% if node.status == 'started' %}background-color: rgb(135, 184, 125);{% elif node.status == 'suspended' %}background-color: orange;{% else %}background-color: rgb(233, 125, 125);{% endif %}">                                      
                                      <td>
                                        {{ node.name }}
                                        <a data-id="{{ project.project_id }}" data-name="{{ project.name }}"
                                          href="/device/{{ project.project_id }}/{{ node.node_id }}/start"
                                          class=" btn-success btnwork" role="button" style="
                                                                                color: rgb(128, 219, 110);
                                                                            ">
                                          <i class="ti-control-play"></i>
                                        </a>
                                        <a class=" btn-warning btnwork" role="button" data-id="{{ project.project_id }}"
                                          data-name="{{ project.name }}" style="color: white"
                                          href="/device/{{ project.project_id }}/{{ node.node_id }}/suspend"><i
                                            data-id="{{ project.project_id }}" data-name="{{ project.name }}"
                                            class="ti-control-pause"></i>
                                        </a>
                                        <a class=" btn-danger btnwork" role="button" data-id="{{ project.project_id }}"
                                          data-name="{{ project.name }}"
                                          href="/device/{{ project.project_id }}/{{ node.node_id }}/stop"><i
                                            data-id="{{ project.project_id }}" data-name="{{ project.name }}"
                                            class="ti-control-stop"></i>
                                        </a>
                                        <a class=" btn-danger btnwork" role="button" data-id="{{ project.project_id }}"
                                          data-name="{{ project.name }}"
                                          href="/device/{{ project.project_id }}/{{ node.node_id }}/delete"><i
                                            data-id="{{ project.project_id }}" data-name="{{ project.name }}"
                                            class="ti-control-stop"></i>
                                        </a>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                  </tbody>
                                </table>
                              </div>
                              <div class="card-footer">
                                <div class="align-bottom">

                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

                <div id="styleSelector">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Warning Section Starts -->
  <!-- Older IE warning message -->
  <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
  <!-- Warning Section Ends -->
  <!-- Required Jquery -->
  <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/popper.js/popper.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js'%}"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="{% static 'js/jquery-slimscroll/jquery.slimscroll.js'%}"></script>
  <!-- modernizr js -->
  <script type="text/javascript" src="{% static 'js/modernizr/modernizr.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  <script type="text/javascript " src="{% static 'js/SmoothScroll.js'%}"></script>
  <script src="{% static 'js/pcoded.min.js'%}"></script>
  <script src="{% static 'js/demo-12.js'%}"></script>
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
  <script src="{% static 'js/topologie.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script>
    window.onload = function () {
      draw_network(
        "/network/{{ project_id }}"
      );
    };
  </script>
  <script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function () {
      if ($window.scrollTop() >= 200) {
        nav.addClass('active');
      }
      else {
        nav.removeClass('active');
      }
    });
  </script>
</body>

</html>